<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food!</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>My name is <%= params[:name] %>, and I love <%= params[:favorite_food] %></p>
  </body>
</html>
